# Operations with for Loop

In [ ]:
# In the following example, you'll get a number from the user 
# and print a sentence the number of times we take from the user:

In [3]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print(i+1, ".", "I love you")

How many times should I say 'I love you'3
1 . I love you
2 . I love you
3 . I love you

In [ ]:
Task 1:
    This time, write a code block that asks the user a number between  1 and 10 then puts that 
    number into the multiplication table.
    
    For example, the output for 5 should be as follows:
        5 x 0 = 0
        5 x 1 = 5
        5 x 2 = 10
        5 x 3 = 15
        5 x 4 = 20
        5 x 5 = 25
        5 x 6 = 30
        5 x 7 = 35
        5 x 8 = 40
        5 x 9 = 45
        5 x 10 = 50

In [7]:
num = int(input("Please enter the table you want: "))
for i in range(13):
    print(f"{num} X {i} = {num * i}")

Please enter the table you want: 5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

In [ ]:
range() function:
    As we stated before, the formula syntax of the range() function is:
        range(start, stop, step)

In [11]:
print(range(0,13,2))

range(0, 13, 2)

In [12]:
for i in range(0,13,2):
    print(i)

0
2
4
6
8
10
12

In [13]:
b = list(range(11))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
c = set(range(11))

In [15]:
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
d = tuple(range(11))
d

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
# * an asterisk separates the elements of the iterables.
# Let's take a look at an example of the range() function with starred * expression:

print(range(5))   # it will not print the numbers in sequence

print(*range(5))  # '*' separates its elements.

range(0, 5)
0 1 2 3 4

In [18]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [1]:
print(*("separate"))

s e p a r a t e

In [2]:
print(*range(13,2,2))   # the start and end point is not in the correct place. You cannot have a start bigger than stop.

In [3]:
print(*range(13,0,-2))   # bigger starting point is possible only when you use negative indexing.

13 11 9 7 5 3 1

In [4]:
print(*range(13,0,-1))

13 12 11 10 9 8 7 6 5 4 3 2 1

In [5]:
# You can create reverse sequence numbers using a negative step.

print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
# Multiple variables in for loop:
# Examine this example carefully:

zip(iterator1, iterator2, ...)

In [ ]:
zip() function make an iterator

In [6]:
text = ["one", "two", "three", "four", "five"]
numbers =  [1,2,3,4,5]

for x,y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [7]:
text = ["one", "two", "three", "four", "five"]
numbers =  [1,2,3,4]

for x,y in zip(text, numbers):    # iterate according to short list. It will stop accordingly.
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4

In [8]:
text = ["one", "two", "three", "four", "five", "six"]
numbers =  '123456'

for x,y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5
six : 6

In [9]:
text = ["one", "two", "three", "four", "five", "six"]
numbers =  {"k1":"V1", "k2":"V2", "k3":"V3"}

for x,y in zip(text, numbers):     # it only takes keys. Keys are the cornerstone for operations for dictionaries that's why they iterate first.
    print(x, ':', y)

one : k1
two : k2
three : k3

In [ ]:
Task 2: 
    Python program to collect the odd and even numbers in two different lists.
    Write a program to choose and collect the even and odd numbers (1 to 10) in two different list.
    Print the result such as:
        evens = [0,2,4,6,8]
        odds = [1,3,5,7,9]

In [11]:
evens = []
odds =  []
for i in range(10):
    if i % 2 ==0:
        evens.append(i)
        print(evens)
    else:
        odds.append(i)
        print(odds)

[0]
[1]
[0, 2]
[1, 3]
[0, 2, 4]
[1, 3, 5]
[0, 2, 4, 6]
[1, 3, 5, 7]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [13]:
evens = []
odds =  []
for i in range(10):
    if i % 2 ==0:
        evens.append(i)
    else:
        odds.append(i)
print("odds: ", odds, "evens: ", evens, sep='\n')

odds:
[1, 3, 5, 7, 9]
evens:
[0, 2, 4, 6, 8]

In [ ]:
Task 3: Python program to sum the amount of odd and even numbers in a tuple/list.
    Write a code that counts the odd and even numbers in a given list or tuple.
    Print the result such as:
        example list: [11,2,24,61,48,33,3]
        example output: The number of even numbers : 3
                        The number of odd numbers: 4

In [15]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)
even = 0
odd = 0

for i in numbers:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1
        
print(f'The number of even numbers is: {even}')
print(f'The number of odd numbers is: {odd}')

The number of even numbers is: 5
The number of odd numbers is: 4

In [16]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)
even = 0
odd = 0

for i in numbers:
    if not i % 2:      # the condition becomes false with "not" expression.  (i % 2) = either 0 or 1 : if it is 1 "not" makes it false; if it is 0 not makes it Truty value.
        even += 1
    else:
        odd += 1
        
print(f'The number of even numbers is: {even}')
print(f'The number of odd numbers is: {odd}')

The number of even numbers is: 5
The number of odd numbers is: 4

In [ ]:
Task 3: Python Program to print out the numbers:
        Using the for loop, print the numbers from 1 to 9 as many as it is and get the following output.
        
        1
        22
        333
        4444
        55555
        666666
        7777777
        88888888
        999999999

In [20]:
for i in range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Nested for Loop

In [ ]:
sytnax: 
    for variable1 in iterable1:
        for variable2 in iterable2:
            body

In [25]:
who = ["I am ", "You are "]
mood = ["happy ", "confident", "Good"]

for i in who:
    for j in mood:
        print(i + j)

I am happy
I am confident
I am Good
You are happy
You are confident
You are Good

In [29]:
names = ["susan ", "tom ", "edward "]
mood = ["happy", "sad"]

for i in names:
    for j in mood:
        print(i, "is ", j)

susan  is  happy
susan  is  sad
tom  is  happy
tom  is  sad
edward  is  happy
edward  is  sad