# Editing a String

In [ ]:
string.strip()
string.rstrip()
string.lstrip()

In [1]:
space_string = "    listen first     "
print(space_string.strip())

listen first

In [4]:
space_string = "    listen first     "
space_string.rstrip()

'    listen first'

In [5]:
space_string.lstrip()

'listen first     '

In [6]:
0 or "             "

'             '

In [8]:
1 and '' and 0

''

In [9]:
str2 = 'interoperability'
str2.strip('yi')

'nteroperabilit'

In [10]:
str2 = 'yinteroperabilitiy'
str2.strip('yi')

'nteroperabilit'

In [11]:
str2 = 'interoperability'
str2.rstrip('yi')

'interoperabilit'

In [12]:
str2 = 'interoperability'
str2.lstrip('yi')

'nteroperability'

In [13]:
str2 = 'interoperability'
str2.lstrip('in')

'teroperability'

In [14]:
text = 'tyou can learn almost everything in pre-classz'
text.strip("tz").upper()

'YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS'

In [17]:
username = input('Please enter your username: ').strip().lower()
username

Please enter your username:               user1

'user1'

In [18]:
num1 = input('Please enter your first number: ')
num2 = input('Please enter your second number: ')
average = (num1 + num2) / 2

Please enter your first number: 3
Please enter your second number: 6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
num1 = float(input('Please enter your first number: ').strip())
num2 = float(input('Please enter your second number: ').strip())
average = (num1 + num2) / 2
average

Please enter your first number:      5
Please enter your second number:          8

6.5

In [24]:
num1 = float(input('Please enter your first number: '))
num2 = float(input('Please enter your second number: '))
average = (num1 + num2) / 2
print(f"average is : {average}")

Please enter your first number: 6
Please enter your second number:               9
average is : 7.5

In [25]:
num1 = float(input('Please enter your first number: '))
num2 = float(input('Please enter your second number: '))
average = (num1 + num2) / 2
print(f"average is : {average}")

Please enter your first number: 2
Please enter your second number:     7
average is : 4.5

In [26]:
str4 = 'In God wee trust'
str4.remove(3, 'e')

AttributeError: 'str' object has no attribute 'remove'

In [2]:
str4 = 'In God wee trust'
str4.replace('ee', 'e')

'In God we trust'

In [4]:
str4 = str4[:9] + str4[10:]
str4

'In God wetrust'

In [5]:
str4 = 'In God wee trust'
str4.rstrip('e')

'In God wee trust'

# Collection Types

### Lists

In [6]:
list1 = [1]
list1[::-1]

[1]

In [7]:
list2 = [[0,1,2,3,4,5,6,7]]
list2[::-1]

[[0, 1, 2, 3, 4, 5, 6, 7]]

In [9]:
list3 = [[1,3,5,7] , 0, [2,4,5], 9]
list3[::-1]

[9, [2, 4, 5], 0, [1, 3, 5, 7]]

In [10]:
list4 = [1]
len(list4)

1

In [11]:
list5 =['A']
len(list5)

1

In [12]:
list6 = [[1,2,3,4,5]]
len(list6)

1

In [14]:
len([[1,2,3]])

1

In [13]:
print(len([[1,2,3]][0]))

3

In [17]:
print(len([[1,2,3], [1,2], [1]][1]))

2

In [18]:
list7 = [[1,2,3], [1,2], [1]]
len(list6[0])

5

###  Creating a List

In [ ]:
[]
list()

In [19]:
list8 = []

In [20]:
list8 =[1,2,3, 'adams']

In [22]:
list9 = list()
print(type(list9))

<class 'list'>

In [23]:
list10 = ['h', 'a', 'p', 'p', 'y']
str9 = 'happy'
list11 = list(str9)

In [25]:
print(list10)
print(list11)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [26]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [28]:
string_1 = 'I quit smoking'
new_list_1 = list(string_1)
new_list_2 = [string_1]

print(new_list_1)
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [30]:
print(len(new_list_1))
print(len(new_list_2))

14
1

*The components of a list are not limited to a single data type.

In [31]:
my_list = ['Joseph', 'Clarusway', 2020]
new_list_1 = list(my_list)
new_list_2 = [my_list]

print(new_list_1)
print(len(new_list_1))
print(new_list_2)
print(len(new_list_2))

['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1

In [32]:
my_list1 = ["2020's hard"]
my_list2 = list("2020's hard")

print(my_list1)
print(my_list2)

["2020's hard"]
['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

# Basic Operations with Lists

### How to create an empty list?

In [ ]:
list()
[]

In [ ]:
.appen()
.insert()

In [34]:
list12 = [1,2,3,4]
list12.append(5)
list12

[1, 2, 3, 4, 5]

In [35]:
list12.append(7)
list12

[1, 2, 3, 4, 5, 7]

In [37]:
empty_list = []
empty_list.append(6666)
empty_list.append('Multiverse')
empty_list.append([0])
print(empty_list)

[6666, 'Multiverse', [0]]

In [39]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')
city

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [42]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
numbers

[1, 2, 3, 4]

In [43]:
print('I am typing on multiple line')
print('***************************')
print('I am typing on multiple line')
print('***************************')
print('I am typing on multiple line')
print('***************************')
print('I am typing on multiple line')
print('***************************')
print('I am typing on multiple line')
print('***************************')

I am typing on multiple line
***************************
I am typing on multiple line
***************************
I am typing on multiple line
***************************
I am typing on multiple line
***************************
I am typing on multiple line
***************************

In [45]:
numbers = [1,4,7]
numbers.insert(2,9)    # insert method gives an emtpy place for placement of item.
print(numbers)
numbers.insert(2,6)
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [46]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.insert(2,'Stockholm')
city

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney']

In [47]:
numbers = [1,2,3,4]
numbers.insert(4,5)
print(numbers)

[1, 2, 3, 4, 5]

In [48]:
numbers = [1,2,3,4]
numbers.insert(-1,5)  # please move one place to left.
print(numbers)

[1, 2, 3, 5, 4]

In [ ]:
.remove()
.sort()

In [49]:
numbers = [1,2,3,4]
numbers.remove(3)  
print(numbers)

[1, 2, 4]

In [51]:
list13 = [3, 0, 4, 2, 5, 1]
list13.sort()
list13

[0, 1, 2, 3, 4, 5]

In [52]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.sort()
city

['Istanbul', 'London', 'New York', 'Seoul', 'Sydney']