# Dictionaries

In [ ]:
key = value

Creating a dict:
    dict()
    {}

In [2]:
dict_1 = {}
print(type(dict_1))

<class 'dict'>

In [3]:
dict_2 = dict()
print(type(dict_2))

<class 'dict'>

In [ ]:
dict_3 = {'Key1': val1,
         'Key2': val2,
         'Key3': val3,
         }

In [4]:
grocer1 ={'fruit': 'apple', 'drink': 'water'}
grocer2 = dict(fruit ='apple', drink = 'water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [5]:
state_capitals ={'Arkansas': 'Little Rock',
                'Colorado': 'Denver',
                'California': 'Sacramento',
                }
print(state_capitals['Colorado'])

Denver

In [8]:
request = input('Which state are you asking about?' )
state_capitals ={'Arkansas': 'Little Rock',
                'Colorado': 'Denver',
                'California': 'Sacramento',
                }
print(state_capitals[request])

Which state are you asking about?Arkansas
Little Rock

In [9]:
state_capitals['Virginia'] = 'Richmond'

In [10]:
state_capitals

{'Arkansas': 'Little Rock',
 'Colorado': 'Denver',
 'California': 'Sacramento',
 'Virginia': 'Richmond'}

In [13]:
state = input('Please enter the state name: ')
capital = input('Please enter the state capital name: ')
state_capitals[state] = capital

Please enter the state name: Pennsylvania
Please enter the state capital name: Harrisburg

In [14]:
state_capitals

{'Arkansas': 'Little Rock',
 'Colorado': 'Denver',
 'California': 'Sacramento',
 'Virginia': 'Richmond',
 'Washington': 'Seatle',
 'Pennsylvania': 'Harrisburg'}

In [16]:
request = input("Which state are you asking abou? ")
print(state_capitals[request])

Which state are you asking abou? Pennsylvania
Harrisburg

In [18]:
mix_values = {'animals': ('dog', 'cat'),
             'planet': ['Neptun', 'Saturn', 'Jupiter'],
             'number': 40,
             'pi': 3.14,
             'is_good': True}
mix_keys = {22: 'integer',
           1.2: 'float',
           True: 'boolean',
           'key': 'string'}
print(mix_values, mix_keys, sep='\n')

{'animals': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [19]:
dict_5 = {[1, 2, 3]: 'numbers'}  # we cannot use a collection as KEY

TypeError: unhashable type: 'list'

In [ ]:
Can we have a dictionaries as a key?
NO.

In [21]:
dict_6 = {'key1': {'key_1': 'val1_1'}}
dict_6

{'key1': {'key_1': 'val1_1'}}

In [22]:
dict_7 = {{'key1': 'val1'} : {'key_1': 'val1_1'}}
dict_7

TypeError: unhashable type: 'dict'

In [23]:
family = {'name1': 'Ali',
         'name2': 'Amine',
         'name3': 'Aisha',
         }

In [24]:
family['name4'] = 'Ahmet'

In [25]:
family

{'name1': 'Ali', 'name2': 'Amine', 'name3': 'Aisha', 'name4': 'Ahmet'}

In [26]:
dict7 = dict(animal ='cat', breed= 'Tuxido', age= 2, spayed= True)
dict7

{'animal': 'cat', 'breed': 'Tuxido', 'age': 2, 'spayed': True}

In [27]:
family = dict(name1 ='Ali', name2 = 'Amine', name3 = 'Aisha', name4 = 'Ahmet')

In [28]:
family

{'name1': 'Ali', 'name2': 'Amine', 'name3': 'Aisha', 'name4': 'Ahmet'}

#  Main Operations with Dictionaries

In [ ]:
items = .items()
keys = .keys()
values = .values()

In [30]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True}
print(dict_by_dict.items(), '\n')
print(type(dict_by_dict.items()), '\n')

print(dict_by_dict.keys(), '\n')
print(type(dict_by_dict.keys()), '\n')

print(dict_by_dict.values(), '\n')

print(type(dict_by_dict.values()), '\n')

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

<class 'dict_items'>

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

<class 'dict_keys'>

dict_values(['dog', 'neptun', 40, 3.14, True])

<class 'dict_values'>

In [31]:
print(family.items(), '\n')
print(family.keys(), '\n')
print(family.values(), '\n')

dict_items([('name1', 'Ali'), ('name2', 'Amine'), ('name3', 'Aisha'), ('name4', 'Ahmet')])

dict_keys(['name1', 'name2', 'name3', 'name4'])

dict_values(['Ali', 'Amine', 'Aisha', 'Ahmet'])

In [32]:
family['name5'] = 'Hussein'

In [33]:
family

{'name1': 'Ali',
 'name2': 'Amine',
 'name3': 'Aisha',
 'name4': 'Ahmet',
 'name5': 'Hussein'}

In [34]:
family.update({'name6': 'Zeynep'})

In [35]:
family

{'name1': 'Ali',
 'name2': 'Amine',
 'name3': 'Aisha',
 'name4': 'Ahmet',
 'name5': 'Hussein',
 'name6': 'Zeynep'}

In [36]:
del family['name6']

In [37]:
family

{'name1': 'Ali',
 'name2': 'Amine',
 'name3': 'Aisha',
 'name4': 'Ahmet',
 'name5': 'Hussein'}

In [39]:
del family['name2'], family['name3']
family

{'name1': 'Ali', 'name4': 'Ahmet', 'name5': 'Hussein'}

In [ ]:
MAIN OPERATIONS WITH DICTS

    in key - True or False
    not in key- True or False

In [41]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True}
print('pi' in dict_by_dict)
print('animal' not in dict_by_dict)

True
True

In [42]:
print('Aisha' in family)

False

# Nested dicts

In [47]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(list(school_records['grades_info']['teen']['joseph'].items()))

# print(type(joseph_grades))
# print(list(joseph_grades))
# print(school_records['grades_info']['teen']['joseph'])

[('coding', 80), ('math', 89)]

In [2]:
favorite = {'friend1': {'first': 'Alan', 'second': 'Smith'},
           'friend2': {'first': 'John', 'last': 'Doe'},
           'friend3': {'first': 'Jack', 'last': 'Belford'}},

            'family': {'fam1': {'first': 'Ali', 'last': 'Hassan'},
                      'fam2': {'first': 'Anisa', 'last': 'Abbas'},
                       'fam3': {'first': 'Mohamed', 'last': 'Shakal'},}
        }
print(favorite)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

# Set

In [ ]:
No repetition
Math operations
    *union
    *intersection
    *difference
Unordered elements

In [ ]:
empty set = set()
empty curly braces are giving dictionaries not set. {}

In [3]:
set1 = {}
type(set1)

dict

In [4]:
set2 = {1,3,4}
type(set2)

set

In [5]:
dict8 = {'k1': 'v2', 'k1': 'v1'}
dict8

{'k1': 'v1'}

In [6]:
dict8['k1']

'v1'

In [7]:
colors = 'r', 'b', 'y'
set3 = set(colors)
print(set2)
print(type(colors))

{1, 3, 4}
<class 'tuple'>

In [8]:
set4 = set(('r', 'b', 'y'))
set3

{'b', 'r', 'y'}

In [9]:
print(set3)

{'r', 'y', 'b'}

In [11]:
set3

{'b', 'r', 'y'}

In [12]:
set4 = {1,2,3,2,4,2,5,3,6,2,7,1,8}
set4

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
set4[3]  # there is no indexing or slicing method for Set

TypeError: 'set' object is not subscriptable

In [15]:
len(set4)  # len returns only unique elements.

8

In [ ]:
.add()
.remove()
.intersection()
.union()
.difference()

In [16]:
set4.add(9)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
set4.remove(7)
set4

KeyError: 7

In [20]:
set4.remove(9)

In [21]:
set4

{1, 2, 3, 4, 5, 6, 8}

In [22]:
a = {1,3,4,5,7,9,10}
b= {0,2,3,4,6,8,9}
a.intersection(b)

{3, 4, 9}

In [23]:
b.intersection(a)

{3, 4, 9}

In [24]:
a-b

{1, 5, 7, 10}

In [25]:
b-a

{0, 2, 6, 8}

In [26]:
a.difference(b)

{1, 5, 7, 10}

In [27]:
b.difference(a)

{0, 2, 6, 8}

In [28]:
a.union(b)  # there is no repetations

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
len(a)

7

In [30]:
len(b)

7

In [31]:
len(a.union(b))

11

In [32]:
ls1 = [1,2,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5]
set5 = set(ls1)
set5

{1, 2, 3, 4, 5}

In [33]:
set6 = set(ls1)
set6

{1, 2, 3, 4, 5}

In [34]:
set7 = set([1,2,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5])
set7

{1, 2, 3, 4, 5}

In [35]:
capital_USA = set("Washington")
capital_new_zealand = set("Wellington")

print(capital_USA, capital_new_zealand, sep='\n')

{'g', 'W', 'o', 'n', 's', 'h', 'i', 'a', 't'}
{'l', 'g', 'W', 'o', 'i', 'e', 'n', 't'}

In [36]:
capital_USA.difference(capital_new_zealand)

{'a', 'h', 's'}

In [37]:
capital_USA | capital_new_zealand   # union: pipe |

{'W', 'a', 'e', 'g', 'h', 'i', 'l', 'n', 'o', 's', 't'}

In [38]:
capital_USA.intersection(capital_new_zealand)

{'W', 'g', 'i', 'n', 'o', 't'}