In [1]:
city = "Phoenix"

In [2]:
city[1:]

'hoenix'

In [3]:
city[:6]

'Phoeni'

In [4]:
city[::2]

'Ponx'

In [5]:
city[1::2]

'hei'

In [6]:
city[-3:]

'nix'

In [7]:
city[-0]

'P'

In [8]:
city[::-1]

'xineohP'

In [9]:
animal = 'hippopotamus'
animal[1:]

'ippopotamus'

In [10]:
animal[:6]

'hippop'

In [11]:
animal[::2]

'hpooau'

In [12]:
animal[1:7:2]

'ipp'

In [13]:
animal[::-1]

'sumatopoppih'

In [14]:
print(len(animal))

12

In [15]:
# len = 12 characters
# first index = [0] and also [-12]
# last index = [11] (because it starts always with 0) and also [-1]

In [16]:
# if len is = x 
# last index no = x-1
# first elemen negative index = -x

In [17]:
str1 = 'upper'
str2 = 3 * 'upper'
str3 = 'upper' * 3

In [18]:
str2

'upperupperupper'

In [19]:
len(str1)

5

In [20]:
len(str2)

15

In [21]:
len(str2) / len(str1)

3.0

In [22]:
str3

'upperupperupper'

In [23]:
len(str3)/len(str2)

1.0

In [24]:
mty = ''
len(mty)

0

In [25]:
mty *= 3
len(mty)

0

In [26]:
print( *str1)  #seperate each character

u p p e r

In [27]:
str1 += 'case'
str1

'uppercase'

In [28]:
str1 += 'letter'
str1

'uppercaseletter'

In [31]:
str1 += 'end'
str1

'uppercaseletterendend'

# String Formatting

In [33]:
str4 = "My name is {}".format('Hilal')
str4

'My name is Hilal'

In [35]:
str4 = "My name is {} {}".format('Hilal', 'GOKSAL')
str4

'My name is Hilal GOKSAL'

In [38]:
str4 = "My name is {} {} and I am a {}. I am {} years old!".format('Hilal', 'GOKSAL', 'Developer', '26')
str4

'My name is Hilal GOKSAL and I am a Developer. I am 26 years old!'

In [ ]:
string({0}, {1}, {2}, {3})
format(val0, val1, val2, val3)

In [40]:
fruit = 'Orange'
vegatable = 'Tomato'
amount = 5
print('The amount of {} we bought is {} lbs.'.format(fruit, amount))
print('The amount of {} we bought is {} lbs.'.format(vegatable, amount))

The amount of Orange we bought is 5 lbs.
The amount of Tomato we bought is 5 lbs.

In [41]:
print('I live in {state}, {country}.'.format(state = 'Virginia', country = 'USA'))

I live in Virginia, USA.

In [43]:
print('I live in {}, {country}.'.format('Virginia', country = 'USA'))

I live in Virginia, USA.

In [44]:
print("{}-{}-{}".format(21, 'June', '2021'))

21-June-2021

In [46]:
print('Today is the {month} {day}. {month} is in summer.'.format(month='June', day='21st'))

Today is the June 21st. June is in summer.

In [48]:
print('{3} {1} {0} {2}'.format('is', 'Name', 'Neo!', 'My'))

My Name is Neo!

In [51]:
username = 'Neo'
adj = 'genius'
f'My name is {username}! I am {adj}!'

'My name is Neo! I am genius!'

In [53]:
ls = ['Adam', 'Smith', 33]
str5 = f'My name is {ls[0]} {ls[1]}. I am {ls[2]} years old.'
str5

'My name is Adam Smith. I am 33 years old.'