In [2]:
numbers = [33, 44, 52, 0, 1120, 2345, 65, 7, 4, 10, 1, 5, 2]
odd_numbers =[]
even_numbers =[]
for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)
        even_numbers.sort()
    else:
        odd_numbers.append(i)
        odd_numbers.sort()
print(odd_numbers, even_numbers, sep='\n')

[1, 5, 7, 33, 65, 2345]
[0, 2, 4, 10, 44, 52, 1120]

In [3]:
mix_list =['d', 1, 'a', 7]
mix_list.sort()
print(mix_list)  # The items to be sorted in the list should be the same type.

TypeError: '<' not supported between instances of 'int' and 'str'

In [1]:
list_1 = ['one', 'four', 'nine']
list_2 = ['@', '*-', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1,3], [44, -40], [-12, 1]]

In [2]:
print(list_1)
print(list_2)
print(list_3)
print(list_4)
print(list_5)

None
None
None
None
None

In [3]:
str1 = 'adssşfdgişsadşil'
len(str1)

16

In [4]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
len(city)

6

In [5]:
list_1 = ['one', 'four', 'nine']
list_2 = ['@', '*-', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1,3], [44, -40], [-12, 1]]

print(len(list_1), len(list_2), len(list_3), len(list_4), len(list_5), sep='\n')

3
3
2
3
3

In [6]:
len(list_1[1])

4

In [7]:
len(list_5[0])

2

In [8]:
list_1 = ['one', 'four', 'nine']
list_1.sort()
list_1

['four', 'nine', 'one']

In [9]:
str2 = 'happy'
list_6 = list(str2)
print(list_6)

['h', 'a', 'p', 'p', 'y']

In [10]:
list_6[4]

'y'

In [11]:
list_6[2]

'p'

In [13]:
for i in range(len(list_6)):  # range always starts with 0 
    print(list_6[i])

h
a
p
p
y

In [ ]:
for i in list_6:
    print(i)

In [14]:
list_6[2]

'p'

In [15]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
city[3]

'Seoul'

In [16]:
city_list = []
city_list.append(city)

In [17]:
city_list

[['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']]

In [18]:
len(city_list)

1

In [21]:
city_list = list(city)

In [22]:
city_list

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [23]:
len(city_list)

6

In [24]:
city_list_2 = [city]

In [25]:
city_list_2

[['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']]

In [28]:
str_l = "My string to split"
list_s_1 = list(str_l)
list_s_2 = [str_l]
print(list_s_1, len(list_s_1), list_s_2, len(list_s_2), sep='\n')

['M', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 's', 'p', 'l', 'i', 't']
18
['My string to split']
1

In [34]:
city_ls = [['Addis Ababa', 'Istanbul', ['Cairo', 'Alexandria', 'Luxor', ['Abu Simble', 'Sphyncs', 'Keops']],'New York', 'Seoul', 'Stockholm', 'Sydney']]

In [30]:
city_ls[0][1]

'Istanbul'

In [33]:
city_ls[0][2][1]

'Alexandria'

In [35]:
city_ls[0][2][3][0]

'Abu Simble'

In [ ]:
Slincing a list 

list_name = [start:stop:step]
from 'start' to 'stop-1', by 'step'

In [36]:
even_numbers = [2, 4, 6, 8, 10, 12, 14]
print(even_numbers[2:5])

[6, 8, 10]

In [41]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = numbers[1::2]
even_numbers =numbers[::2]

print(odd_numbers)
print(even_numbers)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [42]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = []
even_numbers =[]

for i in numbers:
    if i % 2 ==0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print(odd_numbers, even_numbers, sep='\n')

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [45]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1:10))

In [47]:
list_7 = list(range(10))
list_7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list_8 = list(range(1,11))
list_8

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
list_8[::2]

[1, 3, 5, 7, 9]

In [ ]:
Slicing a list:
    my_list[:]
    my_list[start:]
    my_list[:stop]
    my_list[::step]

In [54]:
list_9 = list_8[:]
print(list_8, list_9, sep='\n')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
list_10 = list_8[3:]
list_10

[4, 5, 6, 7, 8, 9, 10]

In [57]:
list_11 = list_8[:7]
list_11

[1, 2, 3, 4, 5, 6, 7]

In [59]:
list_12 = [1, 2, 3, 4, 5, 6, '6th', 7, 8, 9, 10]
list_11 = list_12[:7]
list_11

[1, 2, 3, 4, 5, 6, '6th']

In [60]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]

['one', 'two', 'three']

# Tuples

In [ ]:
Tuples are unchangable/ rock
You cannot add or remove something from it.
Tuples are faster than lists.
You can insert or remove things from list but you cannot do it in tuples.
Tuples = Safe

In [ ]:
Creating a tuple:
    ()
    tuple()

In [61]:
tuple_1 = ('h', 'a', 'p', 'p', 'y')
word ='happy'
tuple_2 = tuple(word)
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [62]:
empty_tuple =()
print(type(empty_tuple))

<class 'tuple'>

In [63]:
my_tuple = ('Solar')
print(my_tuple, type(my_tuple), len(my_tuple), sep='\n')

Solar
<class 'str'>
5

In [64]:
my_tuple = ('Solar',)
print(my_tuple, type(my_tuple), len(my_tuple), sep='\n')

('Solar',)
<class 'tuple'>
1

In [65]:
tup_4 = 'solar',
print(type(tup_4))

<class 'tuple'>

In [66]:
tup_4 = 'solar', 1
print(tup_4, type(tup_4), sep='\n')

('solar', 1)
<class 'tuple'>

In [68]:
a = [1,2,]
print(a)
print(type(a))

[1, 2]
<class 'list'>

In [69]:
b = {1,2,}
print(b)
print(type(b))

{1, 2}
<class 'set'>

In [70]:
c = {"1": 1, "2": 2,}
print(c)
print(type(c))

{'1': 1, '2': 2}
<class 'dict'>

In [71]:
solar = "Earth", "Venus", "Uranus"
print(solar, type(solar), sep='\n')

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [72]:
my_tuple = (1, 4, 3, 4, 5 ,6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [73]:
ls_13 = [1, 4, 3, 4, 5, 6, 7, 4]
my_tup2 = tuple(ls_13)
print(my_tup2, type(my_tup2), sep='\n')

(1, 4, 3, 4, 5, 6, 7, 4)
<class 'tuple'>

In [74]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')