In [9]:
condition = 'circumstances'
morality = 'generosity'
phrase = '{morality} {1} {0} {condition}'.format('in all', 'wins', morality ='generosity', condition = 'circumstances')
phrase

'generosity wins in all circumstances'

In [10]:
phrase = '{morality} {} {} {condition}'.format('wins', 'in all', morality ='generosity', condition = 'circumstances')
phrase

'generosity wins in all circumstances'

In [11]:
phrase = '{2} {0} {1} {3}'.format('wins', 'in all', morality ='generosity', condition = 'circumstances')
phrase

IndexError: Replacement index 2 out of range for positional args tuple

In [12]:
main = 2000
total = '4, 152.32'
profit = 11
duration = 5
print("If we had bought ${} crypto coins at the weekend, we would have had ${} with a profit share of {}% after {} days.".format(main, total, profit, duration))

If we had bought $2000 crypto coins at the weekend, we would have had $4, 152.32 with a profit share of 11% after 5 days.

In [13]:
sample = f"{2 ** 3}"
print(sample)

8

In [14]:
name = "MARIAM"
print(f'My name is {name.capitalize()}')

My name is Mariam

In [17]:
name = 'Adam Smith'
job = 'teacher'
domain = 'Data Science'
message = (
    f'Hi {name}.'
    f'You are a {job} '
    f'in the {domain} department.'
)
message

'Hi Adam Smith.You are a teacher in the Data Science department.'

In [18]:
name = 'Adam Smith'
job = 'teacher'
domain = 'Data Science'
message = (
    f'Hi {name}.'\
    f'You are a {job} '\
    f'in the {domain} department.'
)
message

'Hi Adam Smith.You are a teacher in the Data Science department.'

In [20]:
name = 'Adam Smith'
job = 'teacher'
domain = 'Data Science'
message = (
    f'Hi {name}.'\
    f'You are a {job} '+'\n'\
    f'in the {domain} department.'
)
message

'Hi Adam Smith.You are a teacher \nin the Data Science department.'

In [21]:
'{}, I am Python!'.format('Hi')

'Hi, I am Python!'

In [25]:
name = "Susan"
age = "21"
gender ="lady"
school = "CLARUSWAY IT university"

output = (
    f"{name} is a {age} years old "
    f"{gender} and she is a student "
    f"at the {school}."
)

print(output)

Susan is a 21 years old lady and she is a student at the CLARUSWAY IT university.

In [26]:
print('Hello World!', 'My name is Adam Smith', sep='\n')

Hello World!
My name is Adam Smith

# Main String Operations

## Immutability

In [27]:
name = 'Adam'
name.upper()

'ADAM'

In [28]:
name

'Adam'

In [30]:
name = name.upper()

In [31]:
name

'ADAM'

In [32]:
var_str = 'In God we Trust'
var_str.lower()

'in god we trust'

In [33]:
print(var_str)

In God we Trust

### Searching a String

##### string.startswith()
##### string.endswith()

In [34]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [35]:
print(text.endswith('om'))
print(text.startswith('w'))

True
True

.startswith(prefix[, start[,end]])
.endswith(suffix[, start[,end]])

In [36]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [37]:
print(text.endswith('.co'))
print(text.startswith('w.'))

False
False

## Changing a String

string.method(arguments)

In [ ]:
str.replace(old, new[, count])
str.swapcase()
str.capitalize()
str.upper()
str.lower()
str.title()

In [49]:
str1 = '9 0 1 9 2 3 4 9 5 6 7 8 9 9'
str1 = str1.replace('9', '*', 2)
str1

'* 0 1 * 2 3 4 9 5 6 7 8 9 9'

In [48]:
str1 = str1.replace('9', '*', 2)
str1

'* 0 1 * 2 3 4 * 5 6 7 8 * *'

In [50]:
name = 'ADAM'
name = name.swapcase()
name

'adam'

In [51]:
sentence ="I live and work in Virginia"

print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence)

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [ ]:
string.method1().method2().method3().....

In [53]:
str2 = "IiIiIi"
str3 = str2.replace('i', '_').replace("I", '*')
str3

'*_*_*_'

In [54]:
text = 'the better the family, the better the society'
text.title()

'The Better The Family, The Better The Society'

In [55]:
sentence = 'I live and work in Virginia'
swap_case = sentence.swapcase()
swap_case

'i LIVE AND WORK IN vIRGINIA'

In [56]:
print(swap_case.capitalize())

I live and work in virginia

In [57]:
text = "S0d0me and G0m0re"
text = text.replace("0", "o")
text

'Sodome and Gomore'