In [1]:
my_name = 'Hilal'

In [3]:
number = 99
decimal_number = 25.7
print(my_name)
print(number)
print(decimal_number)

Hilal
99
25.7

In [4]:
my_age = 33
your_age = 30
my_age = your_age
print(my_age)

30

In [5]:
your_age = 35
print(my_age)

30

In [ ]:
my_grades_record = 'Grade Records'
credentials_first_user_list_germany =

Conventional (PEP 8) Naming Rules

#Do not use "l" (lowercase letter 'L') as single character variable

In [6]:
l =3.14
I = 3.14
1 = 3.14

SyntaxError: cannot assign to literal (<ipython-input-6-ac64493fbbb1>, line 3)

#The name of the variable must be legible, meaningful and relevant to the type of value

In [7]:
x = y = z = "same"
print(x)
print(y)
print(z)

same
same
same

In [8]:
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [9]:
February = "28 days"
January = March = May = July = August = October = December = "31 days"
April = June = September = November = "30 days"

In [10]:
thomes = 33
marry = 28
walter = None
isabella = 46

print(thomes)
print(marry)
print(walter)
print(isabella)

33
28
None
46

In [11]:
first_number = 100
second_number = first_number
print(second_number)

100

In [12]:
x = 15
y =33
z = x 
x = y
print(x)
print(y)
print(z)

33
33
15

In [14]:
name = 'Joe'
age = 33
married = True
name = 'Jim'
age =40 
married = False

print(name, age, married, sep ='\n')

Jim
40
False

In [16]:
name = 'Joe'
age = 33
married = True
name = 'Jim'
age =40 
married = False

print(name, age, married, sep ='***')
print(name, age, married, sep ='\t\t')
print(name, age, married, sep ='\n')

Jim***40***False
Jim		40		False
Jim
40
False

In [17]:
name = 'Aly'
print(type(name))

<class 'str'>

In [19]:
print(type('joseph@clarusway.com'))
print(type('632'))
print(type("It's okay"))

<class 'str'>
<class 'str'>
<class 'str'>

Boolean: It's only have two values: True or False

In [22]:
num1 = '22'
num2 =int(num1)
num2
print(type(num1), type(num2), sep='\n')

<class 'str'>
<class 'int'>

In [23]:
num3 = 6
num4 =float(num3)
print(num4, type(num3), type(num4), sep='\n')

6.0
<class 'int'>
<class 'float'>